#panorama {
    width: 100%;
    height: 100vh;
}

.custom-hotspot {
    height: 30px;
    width: 30px;
    border: 2px solid black;
    background-color: rgba(255, 94, 0, 0.5);
    border-radius: 50%;
}

#hotspot-monalisa {
    width: 300px;
    height: 450px;
    background-image: url('../images/1200px-Mona_Lisa.jpg');
    background-size: contain;
}

#hotspot-obra-1-sala-2-img {
    width: 630px;
    height: 371px;
    background-image: url('../titles/hacienda/sala-2/obras/obra-1.jpg');
    background-size: contain;
}

#hotspot-obra-2-sala-2-img {
    width: 638px;
    height: 424px;
    background-image: url('../titles/hacienda/sala-2/obras/obra-2.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

#hotspot-obra-3-sala-2-img {
    width: 250px;
    height: 210px;
    background-image: url('../titles/hacienda/sala-2/obras/obra-3.jpg');
    background-size: contain;
    background-repeat: no-repeat;

}

#hotspot-mapa{
    width: 180px;
    height: 230px;
    background-image: url('../images/mapa-pasillo-1.jpg');
    background-size: contain;
}

.custom-hotspot i {
    padding-top: 5px;
    padding-left: 7px;
}

.pnlm-hotspot {
    background-image: url('../images/flecha-adelante.svg') !important;


}

#hotspot-zapato-icon {
    width: 100px;
    height: 100px;
    background-image: url('../images/zapato.svg');
    background-size: contain;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes heartbeat
{
0%
{
    transform: scale( .75 );
}
20%
{
    transform: scale( 1 );
}
40%
{
    transform: scale( .75 );
}
60%
{
    transform: scale( 1 );
}
80%
{
    transform: scale( .75 );
}
100%
{
    transform: scale( .75 );
}
}

#hotspot-blackhole-icon {
    width: 100px;
    height: 100px;
}

#hotspot-blackhole-icon img{
    width: 100px;
    height: 100px;
    filter: invert(1);
    animation: spin 5s infinite;
}

#hotspot-concierto-icon {
    width: 50px;
    height: 50px;
}

#hotspot-concierto-icon img{
    width: 50px;
    height: 50px;
    animation: heartbeat 1s infinite;
}

#hotspot-galeria-icon {
    width: 50px;
    height: 50px;
    background-image: url('../images/galeria-arte.svg');
    background-size: contain;
}

div.custom-tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}

div.custom-tooltip:hover span {
    visibility: visible;
}

div.custom-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}